[submodule "lib/dojo-bootstrap"]
	path = lib/dojo-bootstrap
	url = git://github.com/xsokev/Dojo-Bootstrap.git
[submodule "lib/dojo/dijit"]
	path = lib/dojo/dijit
	url = git://github.com:dojo/dijit.git
[submodule "lib/dojo/dojo"]
	path = lib/dojo/dojo
	url = git://github.com:dojo/dojo.git
[submodule "lib/dojo/dojox"]
	path = lib/dojo/dojox
	url = git://github.com:dojo/dojox.git
